<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="css/style.css">

</head>
<body>
    <h1>RAP NAMES</h1>
    <h5>search (21 savage, chance the rapper or dylan) caps dont matter</h5>
    <input type="text"> 
    <button>Get Name</button>
    <section class="colors"></section>
    <button class="btn-1">Clear</button>
    <script src="js/main.js" defer></script>
</body>
</html>